body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main {
  display: flex;
  flex-direction: row-reverse;

  width: 1200px;
  margin: 0 auto;
}

.main_content {
  /* position: absolute; */
  width: 1200px;
  height: 1319px;
  left: 40px;
  top: 40px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}
.about {
  margin-bottom: 40px;
}

.about_position {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 19px;
}

.about_name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 24px;
}

.info_user {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.projects {
  width: 485px;
  height: 107px;
  left: 498px;
  top: 412px;
  margin-bottom: 51px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 8px;
}

.project_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #000000;
}

.projects_list {
  padding: 0;
  margin-left: 15px;
}

.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_link {
  margin-left: 10px;
}

.brecket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #000000;
}

.work {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #595959;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #fb6d3a;
}

.working_time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #a8a8a8;
}

.education {
  margin-top: 50px;
}

.uni {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #fb6d3a;
}

.spetiality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.photo {
  margin-top: 50px;
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
}
.title_sidebar {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
}

.f {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #ffffff;
}

.sidebar_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.sidebar_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.sidebar_field {
  margin-bottom: 46px;
}

.aside {
  padding: 50px;
}
